<template>
  <div class="d-flex justify-center flex-wrap">
    <template v-for="(item, i) in items" :key="i">
      <a :href="item.href" target="_blank" class="ma-8">
        <v-img height="100" width="200" :src="item.img" class="float-left" />
      </a>
    </template>
  </div>
</template>

<script lang="ts">
export default {
  data() {
    return {
      items: [
        {
          title: "One Stop Shop",
          href: "https://msggroup.sharepoint.com/sites/OneStopShop",
          img: "OneStopShop.PNG",
        },
        {
          title: "Time Sheet",
          href: "https://timesheet.msg.de/",
          img: "zeiterfassung.png",
        },
        {
          title: "Msg Check In",
          href: "https://msg.msgcheckin.com/",
          img: "msgCheckIn.PNG",
        },
        {
          title: "Lexa Schulungen",
          href: "https://msggroup.sabacloud.com/Saba/Web_spf/EU2PRD0101/app/dashboard",
          img: "Lexa.PNG",
        },
        {
          title: "Urlaub",
          href: "https://msas6706i.msg.de:8001/sap/bc/ui5_ui5/ui2/ushell/shells/abap/FioriLaunchpad.html#LeaveRequest-manage",
          img: "Urlaub.PNG",
        },
        {
          title: "Azubifit",
          href: "https://www.azubifit.de/",
          img: "AzubiFIT.PNG",
        },
        {
          title: "Web Untis Stundenpläne",
          href: "https://tritone.webuntis.com/WebUntis/?school=BS-I-Freising#/basic/timetable",
          img: "WebUntis.PNG",
        },
        {
          title: "Ausbildungsnachweise",
          href: "https://msggroup.sharepoint.com/sites/msteams_d3425e/Freigegebene%20Dokumente/Forms/AllItems.aspx?ga=1&id=%2Fsites%2Fmsteams%5Fd3425e%2FFreigegebene%20Dokumente%2FAusbildung&viewid=02f5367b%2Ddc8e%2D4b4d%2Da66d%2Daed3ff901ef4",
          img: "Ausbildungsnachweise.PNG",
        },
      ],
    };
  },
};
</script>
