<template>
  <v-container fluid class="h-100 w-100">
    <div class="text-h4 font-weight-bold">Bestellformular für ihr Weißbier</div>
    <br />
    <br />

    <h1 class="text-h4 font-weight-bold text-center">
      Die hervorragende Auswahl der Lausbuam Saufzentrale©
    </h1>
    <hr style="border-color: black; width: 1500px; margin: auto" />

    <v-sheet width="750" class="mx-auto pa-6">
      <div class="">
        <div class="d-flex flex-column">
          <div class="d-flex">
            <div>
              <v-hover v-slot="{ isHovering, props }">
                <v-card
                  class="mx-auto"
                  color="grey-lighten-4"
                  width="350"
                  v-bind="props"
                >
                  <v-img
                    :aspect-ratio="16 / 14"
                    cover
                    src="@/assets/erdinger-weissbier.png"
                  >
                    <v-expand-transition>
                      <div
                        v-if="isHovering"
                        class="d-flex transition-fast-in-fast-out v-card--reveal text-h2"
                        style="height: 100%"
                      >
                        <v-img src="@/assets/erdingereinschenken.jpg"></v-img>
                      </div>
                    </v-expand-transition>
                  </v-img>

                  <v-card-text class="pt-6">
                    <h3 class="text-h5 font-weight-light text-orange mb-2">
                      Erdinger Weißbier
                    </h3>

                    <div class="font-weight-light text-h8 mb-2">
                      Die perfekte Belohnung für alle Tageszeiten.<br />
                      Frischer Hopfen mit am gschmeidigen Malz und a feinen
                      Hefe!
                    </div>
                  </v-card-text>
                </v-card>
              </v-hover>
            </div>

            <div class="d-inline-flex">
              <v-hover v-slot="{ isHovering, props }">
                <v-card
                  class="mx-auto"
                  color="grey-lighten-4"
                  width="350"
                  v-bind="props"
                >
                  <v-img
                    :aspect-ratio="16 / 14"
                    cover
                    src="@/assets/Franziskaner.png"
                  >
                    <v-expand-transition>
                      <div
                        v-if="isHovering"
                        class="d-flex transition-fast-in-fast-out v-card--reveal text-h2"
                        style="height: 100%"
                      >
                        <v-img src="@/assets/Weissbierglaeser.jpg"></v-img>
                      </div>
                    </v-expand-transition>
                  </v-img>

                  <v-card-text class="pt-6">
                    <h3 class="text-h5 font-weight-light text-orange mb-2">
                      Franziskaner Weißbier
                    </h3>

                    <div class="font-weight-light text-h8 mb-2">
                      Die beste Wahl um die bayrische Braukunst zu erleben! Top
                      Qualität und Top Geschmack!
                    </div>
                  </v-card-text>
                </v-card>
              </v-hover>
            </div>
          </div>
          <div class="d-flex">
            <div class="float-left">
              <v-hover v-slot="{ isHovering, props }">
                <v-card
                  class="mx-auto"
                  color="grey-lighten-4"
                  max-width="350"
                  v-bind="props"
                >
                  <v-img :aspect-ratio="16 / 14" src="@/assets/Paulaner.png">
                    <v-expand-transition>
                      <div
                        v-if="isHovering"
                        class="d-flex transition-fast-in-fast-out v-card--reveal text-h2"
                        style="height: 100%"
                      >
                        <v-img
                          :aspect-ratio="16 / 14"
                          src="@/assets/paulanersche.jpg"
                        ></v-img>
                      </div>
                    </v-expand-transition>
                  </v-img>

                  <v-card-text class="pt-6">
                    <h3 class="text-h5 font-weight-light text-orange mb-2">
                      Paulaner Weißbier
                    </h3>

                    <div class="font-weight-light text-h8 mb-2">
                      As Paulaner Weißbier is unter Kenner auch als
                      Göttergetränk bekannt. Beste Wahl um sich mit a bar Spezln
                      richtig oan hinter die Luke zu ballern!
                    </div>
                  </v-card-text>
                </v-card>
              </v-hover>
            </div>
            <div class="float-right">
              <v-hover v-slot="{ isHovering, props }">
                <v-card
                  class="mx-auto"
                  color="grey-lighten-4"
                  max-width="350"
                  v-bind="props"
                >
                  <v-img
                    :aspect-ratio="16 / 14"
                    src="@/assets/schneiderweisse.png"
                  >
                    <v-expand-transition>
                      <div
                        v-if="isHovering"
                        class="d-flex transition-fast-in-fast-out v-card--reveal text-h2"
                        style="height: 100%"
                      >
                        <v-img src="@/assets/bierbier.jpg"></v-img>
                      </div>
                    </v-expand-transition>
                  </v-img>

                  <v-card-text class="pt-6">
                    <h3 class="text-h5 font-weight-light text-orange mb-2">
                      Schneider Weisse
                    </h3>

                    <div class="font-weight-light text-h8 mb-2">
                      Die griabige Schneider Weisse ist die beste Wahl beim
                      Abendessen! Dazua gibts an gscheidn Schweinsbron von da
                      Oidn und ois is guad!
                    </div>
                  </v-card-text>
                </v-card>
              </v-hover>
            </div>
          </div>
        </div>
      </div>

      <v-form ref="form" class="mx-auto pa-6">
        <v-text-field
          v-model="cart.person.name"
          :counter="40"
          :rules="nameRules"
          :v-on:blur="saveCart()"
          label="Name"
          required
        ></v-text-field>

        <v-text-field
          v-model="cart.person.vorname"
          :counter="40"
          :rules="nameRules"
          :v-on:blur="saveCart()"
          label="Vorname"
          required
        ></v-text-field>

        <v-text-field
          v-model="cart.person.plz"
          :counter="20"
          :rules="nameRules"
          label="Postleitzahl"
          required
        ></v-text-field>

        <v-text-field
          v-model="cart.person.adresse"
          :counter="40"
          :rules="nameRules"
          label="Straße / Hausnummer"
          required
        ></v-text-field>

        <v-select
          v-model="select"
          :items="items"
          :rules="[(v) => !!v || 'Bitte Sorte wählen!']"
          label="Biersorte"
        ></v-select>

        <v-text-field
          v-model="anzahl"
          :counter="3"
          :rules="nameRules"
          label="Anzahl"
        ></v-text-field>

        <v-snackbar :timeout="5000" color="blue-grey" rounded="pill">
          <template v-slot:activator="{ props }">
            <v-btn
              v-bind="props"
              v-if="anzahl > 0 && select != ''"
              @click="addToCart"
              >Hinzufügen</v-btn
            >
          </template>

          {{ snackbarItem.counter }} Flaschen {{ snackbarItem.name }} wurde
          Ihrem Einkaufswagen hinzugefügt
        </v-snackbar>
        <ul>
          <li v-for="item in cart.items" :key="item.name">
            {{ item.name }} - {{ item.counter }}
          </li>
        </ul>

        <v-checkbox
          v-model="checkbox"
          :rules="[(v) => !!v || 'Sie müssen einverstanden sein!']"
          label="Sind sie einverstanden?"
          required
        ></v-checkbox>

        <div class="d-flex flex-column">
          <v-btn color="success" class="mt-4" block @click="validate">
            Bier Bestellen
          </v-btn>

          <v-btn color="error" class="mt-4" block @click="reset">
            Formular leeren
          </v-btn>
        </div>
      </v-form>
    </v-sheet>
  </v-container>
</template>

<script lang="ts">
import ShoppingCart from "@/model/shoppingcart";
import ShoppingCartEntry from "@/model/shoppingcartEntry";

export default {
  data: () => ({
    cart: new ShoppingCart(),
    valid: true,
    anzahl: 0,
    select: "",
    snackbarItem: new ShoppingCartEntry("", 0),

    nameRules: [
      (v) => !!v || "Bitte Namen eingeben",
      (v) => (v && v.length <= 40) || "Name muss kürzer als 40 Zeichen sein",
    ],
    items: [
      "Erdinger Weißbier",
      "Franziskaner Weißbier",
      "Paulaner Weißbier",
      "Schneider Weiße",
    ],
    checkbox: false,
  }),

  methods: {
    async saveCart() {
      // console.log("save cart", cart);
      const cart = this.$data.cart;
    },

    addToCart() {
      this.$data.snackbarItem = new ShoppingCartEntry(
        this.$data.select,
        this.$data.anzahl
      );
      this.$data.cart.addItem(this.$data.snackbarItem);
      this.$data.anzahl = 0;
      this.$data.select = "";
    },

    async validate() {
      // const { valid } = await this.$refs.form.validate();
      //this.$data.cart.items = [];
      // this.saveCart();
      const username = localStorage.getItem("name") || "";
      console.log("username", username);
      this.$data.cart.username = username;
      if (this.$data.cart.items.length > 0) {
        await fetch("http://localhost:8080/cart", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(this.$data.cart),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Success:", data);
            localStorage.setItem("id", data.id);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
        this.$router.push({
          name: "Einkaufswagen",
        });
      }
    },
    reset() {
      this.$refs.form.reset();
    },
  },
};
</script>

<style>
.alert {
  background-color: rgb(239, 11, 11);
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
</style>
