<template>
  <v-container>
    <p class="text-h4 text-center">
      Guten Tag, {{ cart.person.vorname }} {{ cart.person.name }}
    </p>

    <hr class="ma-5" />

    <div class="">
      <div class="float-left w-50">
        <div class="text-h4">
          Wollen Sie noch etwas hinzufügen ?

          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md4>
                    <v-select
                      v-model="select"
                      :items="items"
                      :rules="[(v) => !!v || 'Bitte Sorte wählen!']"
                      label="Biersorte"
                    ></v-select>
                  </v-flex>
                  <v-flex xs12 sm6 md4>
                    <v-text-field
                      v-model="editedBeer.anzahl"
                      label="Anzahl"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-btn color="red darken-1" @click="reset">Abbrechen</v-btn>
              <v-btn color="blue darken-1" @click="addinCart">Duas dazua</v-btn>
            </v-card-actions>
          </v-card>
        </div>
      </div>
      <!-- Bestellübersichts Tabelle -->
      <v-table class="">
        <template v-slot:default>
          <thead>
            <v-toolbar-title class=""> Ihre Bestellübersicht </v-toolbar-title>
            <tr class="justify-content">
              <th class="Biersorte">Biersorte</th>
              <th class="">Menge</th>
              <th class="">Preis</th>
              <th class="delete">Löschen</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="item in cart.items" :key="item.name">
              <td>{{ item.name }}</td>
              <td>{{ item.counter }} Stück</td>
              <td>{{ item.counter * preis }} €</td>
              <td>
                <v-btn
                  icon="mdi-delete-outline"
                  @click="deleteCart(index)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </template>
      </v-table>
    </div>
  </v-container>
</template>

<script lang="ts">
import ShoppingCart from "@/model/shoppingcart";
import ShoppingCartEntry from "@/model/shoppingcartEntry";
import path from "path";

type Beer = {
  name: string;
  anzahl: number;
};

export default {
  data: () => ({
    cart: new ShoppingCart(),
    index: 0,
    anzahl: 0,
    select: "",
    name: "",
    preis: 3.29,
    dialog: false,
    headers: [
      {
        text: "Biersorte",
        align: "start",
        sortable: false,
        value: "name",
      },
      { text: "Anzahl der bestellten Menge", value: "counter" },
      { text: "Actions", value: "actions", sortable: false },
    ],
    beers: [] as Beer[],
    editedIndex: -1,
    editedBeer: {
      name: "",
      anzahl: 0,
    } as Beer,
    defaultItem: {
      name: "",
      anzahl: 0,
    } as Beer,

    items: [
      "Erdinger Weißbier",
      "Franziskaner Weißbier",
      "Paulaner Weißbier",
      "Schneider Weiße",
    ],
  }),

  mounted() {
    this.loadCart();
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
  },

  methods: {
    editBeer(beer: Beer) {
      this.$data.editedIndex = this.$data.beers.indexOf(beer);
      this.$data.editedBeer = this.$data.beers[this.$data.editedIndex];
      this.$data.dialog = true;
    },

    deleteItem(beer: Beer) {
      const index = this.$data.beers.indexOf(beer);
      confirm(
        "Sind sie sich sicher, dass ihre Auswahl aus dem Einkaufswagen entfernen möchten ?"
      ) && this.$data.beers.splice(index, 1);
    },

    deleteCart(index: any) {
      const item = this.$data.cart.items.splice(index, 1);
      this.localhostDelete("cart/" + this.cart.id + "/items/" + item[0].id);
      // TODO save cart
    },

    reset() {
      this.editedBeer.anzahl = 0;
      this.select = "";
    },

    addinCart() {
      if (!this.select || !this.editedBeer.anzahl) return;

      const existingItem = this.cart.items.find(
        (item) => item.name === this.select
      );

      if (existingItem) {
        existingItem.counter += +this.editedBeer.anzahl;
      } else {
        const newItem = new ShoppingCartEntry(
          this.select,
          this.editedBeer.anzahl
        );
        this.cart.items.push(newItem);
      }
      this.localhostPost("cart", this.cart);
      this.editedBeer.anzahl = 0;
      this.select = "";
    },

    localhostDelete(path: string) {
      fetch("http://localhost:8080/" + path, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        },
        // body: JSON.stringify(this.$data.cart), // CORS headers Cross-Origin ????
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("Delete Beer Success:", data);
          this.loadCart();
        });
    },

    localhostPost(path: string, body: any) {
      fetch("http://localhost:8080/" + path, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(body),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("Add Beer Success:", data);
          this.loadCart();
        });
    },

    async loadCart() {
      const id = localStorage.getItem("name");
      try {
        if (typeof id !== "undefined") {
          const response = await fetch("http://localhost:8080/cart/" + id, {
            method: "GET",
            headers: {
              "Content-Type": "application/json",
            },
          });
          const data = await response.json();
          console.log("Success:", data);
          this.$data.cart = data;
        } else {
          throw new Error("No Shopping CartID.");
        }
      } catch (error) {
        console.error("Error loading cart", error);
      }
    },
  },
};
</script>
