<template>
  <div class="d-flex justify-center w-100 flex-wrap">
    <template v-for="(item, i) in items" :key="i">
      <a :href="item.href" target="_blank" class="ma-8">
        <v-img height="100" width="200" :src="item.img" class="float-left" />
      </a>
    </template>
  </div>
</template>

<script lang="ts">
export default {
  data() {
    return {
      items: [
        {
          title: "Studyflix",
          href: "https://studyflix.de/",
          img: "Studyflix.PNG",
        },
        {
          title: "W3 Schools",
          href: "https://www.w3schools.com/default.asp",
          img: "W3Schools_logo.svg.png",
        },
        {
          title: "How to do Java",
          href: "https://howtodoinjava.com/",
          img: "MicrosoftTeams-image.png",
        },
        {
          title: "Berufsschul Videos",
          href: "https://www.youtube.com/@codeconcert/videos",
          img: "Berufsschule.PNG",
        },
        {
          title: "Junus Tutorials",
          href: "https://www.youtube.com/@Programmierenlernen",
          img: "Junus Coden.PNG",
        },
        {
          title: "Udemy",
          href: "https://www.udemy.com/de/",
          img: "udemy.PNG",
        },
        {
          title: "Javabeginners",
          href: "https://javabeginners.de/Design_Patterns/Model-View-Controller.php",
          img: "javabeginners.png",
        },
      ],
    };
  },
};
</script>
