<template>
  <div fluid class="d-flex justify-center flex-wrap">
    <template v-for="(item, i) in items" :key="i">
      <a :href="item.href" target="_blank" class="ma-8">
        <v-img height="100" width="200" :src="item.img" class="float-left" />
      </a>
    </template>
  </div>
</template>

<script lang="ts">
export default {
  data() {
    return {
      items: [
        {
          title: "Vue",
          href: "https://vuejs.org/",
          img: "vue.PNG",
        },
        {
          title: "Materialdesign",
          href: "https://getmdl.io/started/index.html",
          img: "materialdesign.PNG",
        },
        {
          title: "Codepen",
          href: "https://codepen.io/pen/",
          img: "codepen.PNG",
        },
        {
          title: "Netlify",
          href: "https://app.netlify.com/",
          img: "netlify.PNG",
        },
        {
          title: "Manifest Generator",
          href: "https://app-manifest.firebaseapp.com/",
          img: "manifestgenerator.PNG",
        },
        {
          title: "Gitlab",
          href: "https://gitlab.com/",
          img: "gitlab.PNG",
        },
        {
          title: "Module/Template's",
          href: "https://www.imarketinx.de/index.html",
          img: "moduleundtemplates.PNG",
        },
        {
          title: "Spring Boot",
          href: "https://spring.io/projects/spring-boot",
          img: "SpringBoot.PNG",
        },
        {
          title: "Firebase",
          href: "https://firebase.google.com/",
          img: "Firebase.PNG",
        },
        {
          title: "Figma",
          href: "https://www.figma.com/",
          img: "figma.PNG",
        },
      ],
    };
  },
};
</script>
