<template>
  <v-container fluid class="fill-height">
    <v-responsive class="d-flex align-center text-center">
      <v-img contain height="400" src="@/assets/maxundmoritz.png" />
      <br />
      <div class="text-body-1 font-weight-light">
        Willkommen auf der Website von
      </div>
      <h1 class="text-h2 font-weight-bold">Max und Moritz</h1>

      <!-- <div class="py-14" /> -->
    </v-responsive>
  </v-container>
</template>

<script lang="ts" setup>
//
</script>
