<template>
  <v-app-bar :elevation="20" rounded>
    <template v-slot:image>
      <v-img
        gradient="to top , rgba(120, 0, 50,.9), rgba(80, 0, 30,.9)"
      ></v-img>
    </template>

    <v-spacer></v-spacer>

    <div id="app">
      <p>
        Benutzername:
        <input v-model="username" />
        <v-btn class="mr-10" @click="persist">Save</v-btn>
      </p>
    </div>

    <template v-slot:extension>
      <template v-for="(item, i) in items" :key="i">
        <template v-if="item.enabled">
          <v-btn
            :to="item.href"
            class="mx-auto"
            variant="text"
            color="white"
            width="160px"
            >{{ item.title }}
          </v-btn>

          <v-divider
            v-if="i < items.length - 1"
            class=""
            inset
            vertical
          ></v-divider>
        </template>
      </template>
    </template>
  </v-app-bar>
</template>

<!-- Benennung der Tabs -->
<script lang="ts">
export default {
  data() {
    return {
      username: "",
      tab: null,
      drawer: false,
      items: [
        {
          title: "home",
          value: "Home",
          enabled: true,
          href: "/home",
        },
        {
          title: "ausbildung",
          value: "Ausbildung",
          enabled: true,
          href: "/ausbildung",
        },
        {
          title: "lernen",
          value: "Lernen",
          enabled: true,
          href: "/Lernen",
        },
        {
          title: "programmieren",
          value: "Programmieren",
          enabled: true,
          href: "/programmieren",
        },
        {
          title: "To Do List",
          enabled: true,
          href: "/ToDoList",
        },
        {
          title: "Bestellformular",
          value: "Bestellformular",
          enabled: true,
          href: "/Bestellformular",
        },
        {
          title: "Bestellungen",
          value: "Allgemein",
          enabled: true,
          href: "/Einkaufswagen",
        },
      ],
    };
  },
  // mounted() {
  //   if (localStorage.username) {
  //     this.username = localStorage.username;
  //   }
  // },
  methods: {
    persist() {
      localStorage.setItem("name", this.$data.username);
      console.log("blah blah");
    },
  },
};
</script>
